<div class="container">
    <div class="content">
        <div class="header-title">ONLINE STORE</div>
        
            <div class="header-form" action="">
                <input [(ngModel)]="search" (change)="onSearch()" class="form-search" type="text" placeholder="Search producrs">
                <button class="form-btn" (click)="onSearch()">Поиск</button>
            </div>
        <div class="header-btns">
            <button (click)="mainBasket()" class="header-basket">Корзина
                <div class="count">{{productsLength}}</div>
            </button>
            <button (click)="mainAcaunt()" class="header-account">Аккаунт</button>
        </div>
    </div>
</div>