.content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    width: 100%;

    .header-title {
        font-weight: 600;
        font-size: 40px;
        margin-left: 10px;
    }

    .header-form {
        min-width: max-content;
        max-width: max-content;
        border: 1px solid silver;
        border-radius: 26px;
        overflow: hidden;

        .form-search {
            width: 330px;
            border: none;
            outline: none;
            padding: 5px 10px;
            font-size: 25px;
        }

        .form-btn {
            width: 120px;
            height: 50px;
            border: none;
            background-color: rgb(62, 62, 227);
            padding: 8px 18px;
            border-radius: 20px;
            color: #fff;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            line-height: 20px;
            font-size: 22px;
            font-weight: 600;
            box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
            transition: box-shadow 0.2s;

            &:focus-visible {
                border: 1px solid #4c51f9;
                outline: none;
            }

            &:hover {

                transition: all 0.2s;
                box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
            }

            &:active {
                background-color: #808080;
            }
        }
    }

    .header-btns {
        display: flex;
        flex-wrap: nowrap;

        .header-basket {
            width: 120px;
            height: 50px;
            border: 1px solid rgb(237, 187, 93);
            padding: 8px 18px;
            border-radius: 26px;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            box-sizing: border-box;
            outline: none;
            line-height: 20px;
            font-size: 22px;
            font-weight: 600;
            box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
            transition: box-shadow 0.2s;

            &:focus-visible {
                border: 1px solid #4c51f9;
                outline: none;
            }

            &:hover {

                transition: all 0.2s;
                box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
            }

            &:active {
                background-color: #808080;
            }

            .count {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: red;
                color: #fff;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                right: -5px;
                top: -5px;
                font-size: 16px;
            }
        }
    }

    .header-account {
        width: max-content;
        height: 50px;
        border: 1px solid rgb(117, 105, 222);
        padding: 8px 18px;
        border-radius: 26px;
        cursor: pointer;
        box-sizing: border-box;
        outline: none;
        line-height: 20px;
        font-size: 22px;
        font-weight: 600;
        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
        transition: box-shadow 0.2s;

        &:focus-visible {
            border: 1px solid #4c51f9;
            outline: none;
        }

        &:hover {

            transition: all 0.2s;
            box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
        }

        &:active {
            background-color: #808080;
        }
    }
}