
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    .product-card {
        width: max-content;
        border: 1px solid silver;
        border-radius: 10px;
    
    
        .card-header {
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
    
            img {
                width: 600px;
                height: 100%;
                object-fit: cover;
            }
        }
    
    
    
        .card-content {
            padding: 20px;
    
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
    
            .details-price-text {
                font-size: 30px;
                color: rgb(107 94 94);
    
                .details-price {
                    font-size: 40px;
                    color: rgb(193, 23, 23);
                    margin: 10px 0;
                    font-weight: 600;
                }
            }
    
            .details-rating-text {
                font-size: 30px;
                color: rgb(107 94 94);
    
                .details-rating {
                    color: rgb(41, 87, 50);
                    font-size: 40px;
                    margin: 10px 0;
                    font-weight: 600;
                }
            }
    
            .details-btn {
                border: none;
                padding: 12px 18px;
                border-radius: 26px;
                color: #fff;
                background-color: rgb(62, 62, 227);
                cursor: pointer;
                text-decoration: none;
                margin: 20px 0;
                font-size: 22px;
            }
    
    
            .title {
                font-size: 50px;
                font-weight: 600;
                color: rgb(107 94 94);
                margin-bottom: 20px;
            }
    
            .card-description {
                width: 454px;
                color: rgb(107 94 94);
                font-size: 22px;
    
            }
        }
    }
}