

<div class="center">
    <div class="product-card">
        <div class="card-header">
             <img [src]="[product.images[0]]" alt="">
        </div>
        <div class="card-content">
            
                <div class="details-price-text">Цена: <span class="details-price">{{product.price | currency: '$'}}</span></div>
                
                <div class="details-rating-text">Рейтинг: <span class="details-rating">{{product.rating}}</span></div>
                
                <button class="details-btn">В корзину</button>
            
            <div class="title">{{product.title}}</div>
            <div class="card-description">{{product.description}}</div>
        </div>
     </div>
</div>
