.row {
    display: flex;
    width: 100%;

    .content {
        margin-right: 20px;
        width: 100%;

        .products-length {
            font-size: 18px;
            font-weight: 600;
            color: #413e3e;
            margin-bottom: 10px;
        }

        .product-card {
            height: 300px;
            display: flex;
            border: 1px solid silver;
            margin: 20px 0 20px 0;
            border-radius: 10px;
            position: relative;

            .rating {
                width: 60px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: yellow;
                color: red;
                border-radius: 6px;
                overflow: hidden;
                position: absolute;
                right: -5px;
                top: -5px;
                font-size: 18px;
                font-weight: bold;
            }

            .card-image {
                margin-right: 20px;

                img {
                    width: 360px;
                    object-fit: cover;
                    border-right: 1px solid silver;
                    border-radius: 10px;
                    height: 100%;
                }
            }

            .card-content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 10px 10px 10px 0;
                overflow: hidden;

                .card-title {
                    font-size: 40px;
                    font-weight: 700;
                    color: #3b3636;
                    margin-bottom: 10px;
                }

                .card-descriptio {
                    font-size: 20px;
                    font-weight: 600;
                    color: #453b3b;
                    margin: 0 0 5px 0;
                }

                .card-price {
                    font-weight: bolder;
                    color: #f90606;
                    font-size: 22px;
                }

                .card-actions {
                    display: flex;
                    flex-wrap: n;
                    margin: 10px 0 0;


                    .actions-btn {
                        border: 1px solid silver;
                        padding: 12px 18px;
                        border-radius: 20px;
                        color: rgb(17, 16, 16);
                        cursor: pointer;
                        text-decoration: none;
                        box-sizing: border-box;
                        outline: none;
                        line-height: 20px;
                        font-size: 24px;
                        font-weight: 600;
                        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
                        transition: box-shadow 0.2s;

                        &:focus-visible {
                            border: 1px solid #4c51f9;
                            outline: none;
                        }

                        &:hover {
                            transition: all 0.2s;
                            box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
                        }

                        &:active {
                            background-color: #808080;
                        }

                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }

                    .add { 
                        background-color:rgb(62, 62, 227);
                        color: #fff;
                    }

                    .activeBusket {
                        background-color:rgb(9, 117, 59);
                        color: #fff; 
                    }
                }
            }
        }

        .pagination {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .block-pagination {
                display: flex;
                align-items: center;

                select {
                    outline: none;
                }


                .pagination-btn {
                    border: 1px solid silver;
                    padding: 8px 18px;
                    font-size: 16;
                    border-radius: 30px;
                    cursor: pointer;

                    box-sizing: border-box;
                    outline: none;
                    line-height: 20px;
                    font-size: 16px;
                    font-weight: 600;
                    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
                    transition: box-shadow 0.2s;

                    &:focus-visible {
                        border: 1px solid #4c51f9;
                        outline: none;
                    }

                    &:hover {

                        transition: all 0.2s;
                        box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
                    }

                    &:active {
                        background-color: #808080;
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }

                .active {
                    color: #fff;
                    background-color: rgb(62, 62, 227);                }
            }
        }

    }

    .not-found {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: 600;
        color: red;
    }


    .block-filter {
        display: flex;
        flex-direction: column;

        .filter-title {
            font-size: 18px;
            font-weight: 600;
            color: #413e3e;
            margin-bottom: 20px;
        }

        .filter-search {
            width: 240px;
            height: 30px;
            padding: 10px 6px;
            border: none;
            outline: none;
            padding: 4px 8px;
            font-size: 16px;
            border: 1px solid silver;
            border-radius: 20px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
