<div class="row">

    <ng-container *ngIf="products.length; else notFound">
       <div class="content">
        <div class="products-length">Все продукты: {{ products.length}}</div>
        <div class="product-card" *ngFor="let product of products; let i= index">
            <div class="rating">{{product.rating}}</div>
            <div class="card-image">
                <img [src]='[product.images[0]]' alt="">
            </div>
            <div class="card-content">
                <div class="card-title">{{product.title}}</div>
                <div class="card-descriptio">{{product.description.substring(0, 333) + '...'}}</div>
                <div class="card-price">{{product.price | currency:'$'}}</div>
                <div class="card-actions">
                    <button class="actions-btn add" *ngIf="!inBusket(product)"
                     (click)="addToBusket(product)">
                        В корзину
                    </button>
                    <button class="actions-btn  activeBusket" *ngIf="inBusket(product)" [routerLink]="['/main/busket']">
                        Пройти в корзину
                    </button>
                    <a class="actions-btn" [routerLink]="['/main/product', product.id]">
                        Подробнее
                        
                    </a>
                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="block-pagination">
    
                <select class="pagination-btn" [(ngModel)]="pageSize" (change)="onChange($event)">
                    <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
                </select>
    
                <button class="pagination-btn" (click)="prev()">Предыдущее</button>
                <button class="pagination-btn" *ngFor="let i of pages" (click)="setPage(i)" [class.active]="i == currentActive">{{i}}</button>
                <button class="pagination-btn pagination-right-block" (click)="next()">Последнее</button>
            </div>
        </div>
       </div>
    </ng-container>
    <ng-template #notFound>
        <div class="not-found">Loading...</div>
    </ng-template>
    <div class="block-filter">
        <div class="filter-title">Фильтры</div>
        <input class="filter-search" type="text" placeholder="Сортировка по возрастанию">
        <input class="filter-search" type="text" placeholder="Сортировка по убыванию">
    </div>
</div>
