.acaunt-card {
    border: 1px solid silver;
    border-radius: 10px;
    padding-right: 30px;


    .card-header {
        display: flex;

        .item-image {
            margin-right: 20px;

            img {
                width: 450px;
                height: 250px;
                object-fit: cover;
                border-right: 1px solid silver;
                border-bottom: 1px solid silver;
                border-radius: 10px;
                height: 100%;
            }
        }
    }

    .block-details {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        .details-user-text {
            font-size: 18px;
            color: rgb(107 94 94);
        }

        .details-name {
            font-size: 24px;
            color: rgb(193, 23, 23);
            margin: 10px 0;

        }

        .details-user-text {
            font-size: 18px;
            color: rgb(107 94 94);
        }

        .details-user {
            color: rgb(153 165 156);
            font-size: 30px;
            margin: 10px 0;
            font-weight: 600;
        }

        .details-btn {
            border: none;
            padding: 8px 18px;
            border-radius: 20px;
            color: #fff;
            background-color: rgb(62, 62, 227);
            cursor: pointer;
            text-decoration: none;
        }
    }

    .footer-card {
        padding: 20px;

        .title {
            font-size: 18px;
            font-weight: 600;
            color: rgb(107 94 94);
            margin-bottom: 20px;
        }

        .card-text {
            color: rgb(107 94 94);
            font-size: 20px;

        }
    }
}