

<div class="acaunt-card">
    <div class="card-header">
     <div class="item-image">
         <img [src]="[user.image]" alt="">
     </div>
     <div class="block-details">
         <div class="details-user-text">ФИО: <span></span></div>
         <div class="details-name">{{user.firstName}}, {{user.lastName}}, {{user.maidenName}}</div>
         <div class="details-user-text">Номер телефона:</div>
         <div class="details-user">{{user.phone}}</div>
         <div class="details-user-text">Почтовый ящик:</div>
         <div class="details-user">{{user.email}}</div>
     </div>
    </div>
    <div class="footer-card">
        <div class="title">Адрес</div>
        <div class="card-text">Город: <span>{{user.address.city}}</span></div>
        <div class="card-text">Улица: <span>{{user.address.address}}</span></div>
        <div class="card-text">Номер: <span>{{user.phone}}</span></div>
        <div class="card-text">Геолакация: 
            <span class="card-text">долгота: {{user.address.coordinates.lat}} </span>
            <span class="card-text">ширина: {{user.address.coordinates.lng}}</span>
        </div>
    </div>
 </div>
