<div class="login-content">
    <div class="logotip">B</div>
    <div class="text">Please sign in </div>
    
<form class="forma">
    <div>
        <input class="forma-inputs" [(ngModel)]="loginForm.username" type="text" required name="login" placeholder="Email address" />
    </div>
    <div>
        <input class="forma-inputs" [(ngModel)]="loginForm.password" type="password" required name="password" placeholder="password" />
    </div>
    <div class="checkbox-block">
        <input type="checkbox">
        <span>Remember me</span>
    </div>
    <button (click)="printForm()" class="sign-btn">Sign in</button>
</form>
<div>@2017-2018</div>
</div>
