.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;   

    .logotip {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
        font-size: 70px;
        font-weight: 900;
        color: #fff;
        border-radius: 5px;
        background-color: #20206f;
        margin-bottom: 20px;
    }

    .text {
        font-size: x-large;
        font-weight: 700;
        margin-bottom: 10px;
        color: #100202d1;
    }

    .forma {
        .forma-inputs {
            width: 250px;
            padding: 8px 6px;
            border: 1px solid silver;
            border-radius: 3px;
            outline: none;
            font-size: 20px;
        }

        .checkbox-block {
            margin: 10px 0;
            font-size: 16px;
            font-weight: 200;
            color: #616161;
        }

        .sign-btn {
            width: 100%;
            background-color: #3030d1;
            padding: 6px 0;
            border: none;
            border-radius: 4px;
            overflow: hidden;
            text-align: center;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            margin-bottom: 30px;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                font-size: 18px;
              }
            }
        }
    }
