


<app-header></app-header>
<div class="gray-block">
    <div class="container">
        <h3 class="item-catigorie">Catigories</h3>
    </div>
</div>

<div class="container">
        <div class="block-catigorie">
            <div class="list-catigorie"
            *ngFor="let catigorie of catigories; let i = index"
            [class.active]="i === catigorieActive"
            (click)="filter(catigorie, i)">
                <div>{{catigorie}}</div>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
</div>