h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.gray-block {
    display: flex;
    align-items: center;
    background-color: rgba(40, 37, 37, 0.467);

    .container {
        padding: 0 100px;

        .item-catigorie {
            width: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 0;
            background-color: rgba(7, 0, 0, 0.671);
            color: #fff;
            font-size: 35px;
            font-weight: 600;
        }
    }

}

.container {
    padding: 0 100px;
    display: flex;
    padding-bottom: 40px;

    .block-catigorie {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin-right: 20px;

        .list-catigorie {
            width: 300px;
            display: flex;
            align-items: center;
            padding: 12px 10px;
            background-color: rgba(40, 37, 37, 0.467);
            color: #fff;
            font-size: 35px;
            border-bottom: 1px solid silver;
            text-transform: capitalize;
            cursor: pointer;
            outline: none;
            font-weight: 600;
            box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
            transition: box-shadow 0.2s;

            &:focus-visible {
                border: 1px solid #4c51f9;
                outline: none;
            }

            &:hover {
                transition: all 0.2s;
                background-color: rgb(99, 95, 95);
            }

            &:active {
                background-color: #808080;
            }

        }

        .active{
            background-color: rgba(7, 0, 0, 0.671);
        }

    }

    .content {
        margin-top: 30px;
        width: 100%;
    }
}