.row {
    display: flex;
    width: 100%;

    .content {
        margin-right: 20px;
        width: 100%;

        .products-length {
            font-size: 16px;
            font-weight: 600;
            color: #413e3e;
            margin: 10px 0 10px 0;
        }

        .product-card {
            height: 300px;
            display: flex;
            border: 1px solid silver;
            margin: 20px 0 20px 0;
            border-radius: 10px;

            .card-image {
                margin-right: 20px;

                img {
                    width: 360px;
                    object-fit: cover;
                    border-right: 1px solid silver;
                    border-radius: 10px;
                    height: 100%;
                }
            }

            .card-content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 10px 10px 10px 0;
                overflow: hidden;

                .card-title {
                    font-size: 40px;
                    font-weight: 700;
                    color: #3b3636;
                    margin-bottom: 10px;
                }

                .card-descriptio {
                    font-size: 20px;
                    font-weight: 600;
                    color: #453b3b;
                    margin: 0 0 5px 0;
                }

                .card-price {
                    font-weight: bolder;
                    color: #f90606;
                    font-size: 26px;
                }

                .card-actions {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin: 10px 0 0;

                    .dark {
                        width: max-content;
                        display: flex;
                        align-items: center;
                        border: 1px solid silver;
                        border-radius: 26px;
                        padding: 10px 18px;
                        background-color: transparent;
                        .btn-dark {
                            border: none;
                            background-color: transparent;
                            text-align: center;
                            font-size: 18px;
                            font-weight: 600;
                            font-size: 25px;
                        }
    
                        .inputbox {
                            width: 50px;
                            font-size: 25px;
                            border: none;
                            background-color: transparent;
                            text-align: center;
                            font-weight: 600;
                        }
                    }

                    .btn-delate {
                        border: none;
                        color: #fff;
                        background-color: rgb(62, 62, 227);
                        cursor: pointer;
                        text-decoration: none;
                        margin-left: 15px;
                        padding: 12px 18px;
                        border-radius: 26px;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}