<div class="row">
    <ng-container *ngIf="products.length; else notProducts">
        <div class="content">
            <div class="products-length">Все продукты: {{ products.length}}</div>
            <div class="product-card" *ngFor="let product of products; let i= index">
                <div class="card-image">
                    <img [src]='[product.images[0]]' alt="">
                </div>
                <div class="card-content">
                    <div class="card-title">{{product.title}}</div>
                    <div class="card-descriptio">{{product.description.substring(0, 99) + '...'}}</div>
                    <div class="card-price">{{product.price | currency:'$'}}</div>
                    <div class="card-actions">
                        <div class="dark">
                            <button class="btn-dark" (click)="calculate(product, -1)">-</button>
                            <input class="inputbox" type="text" disabled value="{{product.count}}">
                            <button class="btn-dark" (click)="calculate(product, 1)">+</button>
                        </div>
                        <button class="btn-delate" (click)="deleteProduct(i)">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #notProducts>
        <div class="not-found">Продукты еще не вибринно</div>
    </ng-template>
</div>