/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    .container {
        padding: 0 100px;
    }
}
